@import "tailwindcss";
/* Side Button Styles */
.side-button {
    @apply bg-[#1e1e1e] hover:bg-neutral-400 shadow-lg rounded-3xl p-2 m-1;
} 
.side-button svg {
    @apply text-neutral-400 w-4 h-4 lg:w-7 lg:h-7 group-hover:text-[#1e1e1e];
}
#close-menu-button {
    @apply hover:bg-[#444] bg-[#303030] shadow-lg rounded-xl p-2 m-1 w-full ;
}

/* Settings Menu Styles */
#ace_settingsmenu, #kbshortcutmneu {
    @apply bg-[#2b2b2b] text-white shadow-lg overflow-x-hidden pr-3.5 pl-3.5 rounded-2xl w-75 absolute mr-0.5 p-2 bottom-3 right-3 top-3 z-50 cursor-default;
}
.ace_optionsMenuEntry {
    @apply flex items-center justify-between grow p-2 rounded-xl mt-1 hover:bg-[#3d3d3d] bg-[#303030];
}
#controls select {
    @apply bg-[#303030] hover:bg-[#444] items-center rounded-2xl m-1 w-full ;

}
#mode,#theme {
    @apply text-white p-1 rounded-2xl w-auto ;
}
#-mode::-webkit-scrollbar, #-theme::-webkit-scrollbar {
    @apply visible bg-[#2b2b2b] w-2.5 rounded-2xl;
}

#-mode,#-theme {
    scrollbar-width: thin;
    scrollbar-color: #444 #2b2b2b;
}
#-mode::-webkit-scrollbar-thumb, #-theme::-webkit-scrollbar-thumb {
    @apply bg-[#444] rounded-2xl;
}
#mode-label,#theme-label {
    @apply p-2;
}
#-mode option,#-theme option,#-theme optgroup {
    @apply flex rounded-2xl bg-[#303030];
}
#-theme option:checked,#-mode option:checked {
    @apply bg-[#202020] shadow-md;
}
#-fontSize {
    @apply items-center rounded-2xl m-1 w-full ;
}
#keyboardHandler-label label {
    @apply flex-col text-white font-thin;
}
.ace_optionsMenuEntry input{
    @apply mr-2 w-5 h-5 rounded ;
}
.ace_optionsMenuEntry input:checked{
    @apply bg-blue-500;
}
.ace_optionsMenuEntry button[ace_selected_button=true] {
    @apply bg-[#444]  border flex grow shadow-md;
}
.ace_optionsMenuEntry button {
    @apply bg-blend-darken bg-[#1e1e1e] focus:outline-none border m-1 text-center flex items-start grow rounded-2xl text-white p-1 w-20;
}
.ace_optionsMenuEntry button:hover {
    @apply border-[#2b2b2b] bg-transparent;
}
#more-controls {
    @apply flex flex-col ;
}

/*<=============CheckBox to  Toggle Switch=========START=======>  */
#ace_settingsmenu input[type="checkbox"] {
  appearance: none;
  @apply w-8 h-5 bg-neutral-600 appearance-none rounded-[20px] relative cursor-pointer transition-colors duration-300;
}

#ace_settingsmenu input[type="checkbox"]::after {
    content: "";
    @apply absolute w-3.5 h-3 bg-neutral-800 rounded-2xl mt-1 m-0.5 transition-transform duration-300;

}
#ace_settingsmenu input[type="checkbox"]:checked {
    @apply bg-neutral-800;
}
#ace_settingsmenu input[type="checkbox"]:checked::after {
  @apply transform translate-x-3 bg-neutral-600;
}
/*<=============CheckBox to  Toggle Switch=========END=======>  */
.status-bar-ace {
    @apply bg-[#1e1e1e] text-white  grow items-center px-1 ;
}